@model AppTerceiro.Models.Fisica
@{
    ViewData["Title"] = "Home Page";
}

<h2> Código: @Model.Id</h2>
<h2> Nome: @Model.Nome</h2>
<h2> Sexo: @Model.Sexo</h2>
<h2> RG: @Model.RG</h2>
<h2> Digito: @Model.Dig_RG</h2>